LOG_LEVEL=INFO

# D-Tools Cloud API creds
DTOOLS_API_KEY=
DTOOLS_AUTH_TOKEN=

# OAUTH settings, set ENABLE_AUTH=false to disable authentication
ENABLE_AUTH=false
AUTHENTIK_ISSUER=
AUTHENTIK_APPLICATION=
OAUTH_BASE_URL=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=